#projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
}

.projects {
    flex: 1 1 300px;    
    max-width: 100%;    
    box-sizing: border-box;
    margin-bottom: 30px;
}

.project img {
    width: 100%;
    height: auto;
}


.project h3 {
    font-size: 16px;
    color: var(--secondary-color);
}

.project h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.project p {
    margin-bottom: 10px;
}